// * {
//     outline: 2px solid green;
// }

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $opensans;

    ul {
        list-style-type: none;
    }

    a {
        color: var(--link-color);
        font-size: var(--link-size);
    }
}